    /* ===== LINK OLVIDÉ CONTRASEÑA ===== */
    a{
        display: block;
        text-align: right;
        color: #f5e642;
        font-size: 13px;
        text-decoration: underline;
        margin-bottom: 18px;
        padding: 10px;
    }

    .center-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .titulo-form {
        font-family: 'Dancing Script', cursive;
        color: #fff8e7;
        font-size: 26px;
        margin: 10px 0 15px;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    }

    .entrar {
        width: 100%;
        padding: 8px;
        background-color: #2e7d32;
        color: #D4AF37;
        font-size: 24px;
        font-weight: 700;
        border: 4px solid #D4AF37;
        border-radius: 8px;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
    }

    .registro-suave {
        background-image: url('/assets/tablero.png');
        background-size: 100% 100%;
        border-radius: 20px;
        padding: 150px 50px 100px;
        width: 250px;
        height: 326px;
        text-align: center;
    }

    .campo {
        width: 100%;
        padding: 13px 16px;
        margin-bottom: 12px;
        border-radius: 8px;
        border: 4px solid #4a3520;
        background-color: #fdf6e3;
        font-size: 15px;
        box-sizing: border-box;
        outline: none;
        font-family: 'Lato', sans-serif;
        text-align: center;
    }

   h1{
        font-family: 'Dancing Script', cursive;
        color: #fff8e7;
        font-size: 26px;
        margin: 20px 0 15px;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    }